# Name: Interactive Cell Lineage Tracer

# Author: Daniel Sage
# Organization: Biomedical Imaging Group, Ecole Polytechnique Fédérale de Lausanne, Switzerland
# Contact: daniel.sage@epfl.ch
# Reference: http://bigwww.epfl.ch/sage/

# Date: 14 Avril 2023

Plugins>Interactive Cell Lineage Tracer, "Interactive Cell Lineage Tracer", Interative_Cell_Lineage_Tracer


